.container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.716);
}

.modal {
  z-index: 30;
  position: relative;
  background-color: rgba(255, 255, 255, 0.855);
  width: 50%;
  height: 50%;
  box-shadow: 0.7rem 0.7rem 1.2rem black;
  border-radius: 40px;
  border: 1px solid black;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.text {
  color: green;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  position: absolute;
  right: 0;
  top: 0;
  color: black;
  margin-top: 2rem;
  margin-right: 2rem;
  font-size: 2.5rem;
  cursor: pointer;
}

.phone_icon{
  margin-right: 0.5rem;
  font-size: 120%;
  color: darkgreen;
}

@media screen and (max-width: 768px) {
  .modal {
    width: 80%;
    height: 60%;
    box-shadow: 0.7rem 0.7rem 1.2rem black;
    border-radius: 30px;
  }
  .text {
    font-size: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .modal {
    width: 90%;
    height: 40%;
    box-shadow: 0.7rem 0.7rem 1.2rem black;
    border-radius: 30px;
  }
  .text {
    font-size: 1.8rem;
  }
  .icon {
    position: absolute;
    right: 0;
    top: 0;
    color: black;
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    font-size: 2rem;
    cursor: pointer;
  }
}