:root {
  --main-color: green;
  --secondary-color: red;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: rgba(0, 0, 0, 0.895);
  position: relative;
}

html {
  overflow-y: scroll;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.circle {
  width: 100vh;
  height: 100vh;
  border-radius: 100%;
  opacity: 0.2;
  position: absolute;
  z-index: -1;
  margin: auto;
}
.circle_cut_1 {
  width: 100vh;
  height: 100vh;
  border-radius: 100%;
  opacity: 1;
  position: absolute;
  z-index: -1;
  margin: auto;
}

@media screen and (max-width: 480px) {
  .circle {
    display: none;
  }
}

.tab1 {
  tab-size: 1;
}
.tab2 {
  tab-size: 2;
}

.btnLink {
  border-radius: 50px;
  background-color: rgba(0, 128, 0, 0.799);
  white-space: nowrap;
  padding: 0.7rem 1.5rem;
  color: white;
  font-size: 1rem;
  outline: none;
  border: 3px solid white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  font-weight: bold;
}
.btnLink:hover {
  transition: all 0.3s ease-in-out;
  color: green;
  background-color: white;
  border: 3px solid green;
}

.map-container {
  width: 90%;
  height: 60vh;
  box-shadow: 16px 16px 10px rgba(0, 0, 0, 0.839);
  border-radius: 15px;
}
